<form action= "/guests/<%=@guest.id%>" method="post">
 
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value ="PATCH" />
  <p>Update Guest's Information:</p> 

  
 <%#Here is it is really running the PATCH method after we submit the form, and not the POST action. Not on the name where it says method... It's just that we have to have it visibly as POST and hidden as PATCH.

  Here, when we click the Update Hotel button, we are making the HTTP request to PATCH hotels/:id, which does the hotels# update action%>

  Update Guest Name: <input type='text' name='guest[name]' value="<%@guest.name%>"/>
  
  <br/>

  Update Price per Night: <input type='number' name='guest[price]' value="<%@guest.price_per_night_pesos%>"/>

  <br/>

  Update Guest Spanish Status<input type= 'checkbox' name='Spanish' value="<%@guest.spanish_speaker%>"/> 
  
  <br/>
  
  <input type='submit' value= 'Update Guest'/>
</form>