<form action= "/guests/<%=@guest.id%>" method="post">
 
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value ="PATCH" />
  <p>Update Guest's Information:</p> 

  Update Guest Name: <input type='text' name='name' value="<%@guest.name%>"/>
  
  <br/>

  Update Price per Night: <input type='number' name='price_per_night_pesos' value="<%@guest.price_per_night_pesos%>"/>

  <br/>

  Update Guest Spanish Status
  <input type="hidden" name='spanish_speaker' value="false">
  <input type= 'checkbox' name='spanish_speaker' value ="true"><br/>
  
  <br/>
  
  <input type='submit' value= 'Update Guest'/>
</form>