<h1>Guests</h1>

<%@guests.each do |guest|%>

<h2><%= guest.name %></h2>

<p><%= link_to "Edit #{guest.name}'s Information", "/guests/#{guest.id}/edit"%></p>

<p>SpanishSpeaker:&nbsp;<%=guest.spanish_speaker%></p>

<p><%=guest.price_per_night_pesos%></p>

<% end %>
