<form action="/hotels/<%=@hotel.id%>/guests" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>Add New Guest:</p>

  Name: <input type='text' name='name'/><br/>

  MXP Price Per Night: <input type='number' name='price_per_night_pesos'/><br/>

  Check if Spanish Speaker: 
  <input type="hidden" name='spanish_speaker' value="false">
  <input type= 'checkbox' name='spanish_speaker' value ="true"><br/>
  
  <input type='submit' value= 'Create Guest'/>
</form>