<form action="/hotels" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>List a new Hotel:</p>

  Name: <input type='text' name='name'/><br/>

  Meters from Beach: <input type='number' name='meters_from_beach'/><br/>
  
  Check if has starlink: 
  <input type="hidden" name='starlink' value="false">
  <input type= 'checkbox' name='starlink' value ="true"><br/>
  
  <input type='submit' value= 'Create Hotel'/>
</form>